/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-mar-2016, 10:54:18
    Author     : a607477
*/
@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


body {
    background: #000 url(../img/background.png) no-repeat top center fixed;
    background-size: 100% auto;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/background.png) no-repeat;
    background-size: cover;
}
.perfilImagen {
    width: 100px;
    height: 75px;
}
.dyCo {
    cursor: pointer;
}

.navG {
    background: rgba(0, 0, 51, 0.85);


}
.navG li a {
    color:white !important;
}
.navG li a:hover  {
    color:#ccccff !important;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navG .dropdown-menu {
    
    background-color:#000066 !important;
}
.navG .dropdown-menu a:hover {
    background-color:#3333ff !important;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#fixedImg{
    background: no-repeat;
    width: 100%; 
    height: 100%;  
    background-size: cover; 
    background-attachment: fixed; 
    overflow-x: hidden;
}

.addSongs {
    text-align: center;
    height: 50px;
    margin-bottom: 2px;
    font-size: 17px;
    cursor: pointer;
}

.paises {
    text-align: center;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-family: Montserrat-Bold;
}

.paises:hover {
    cursor: pointer;
}

.hover {
    background-color: #bae3b5;
    cursor: pointer;
}
.hover:hover {
    background-color: #87ce7e;
    color: black;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
;}

.topPuntd {
    color : white;
    background-color: #57b846;
}
.topPuestos {
    text-align: center;
    height: 50px;
    margin-bottom: 2px;
    font-size: 17px;
    cursor: pointer;
}
.paisCon {
    height: 760px;
    overflow-y: scroll;
}
@media (max-width: 992px) {
    .paisCon {
    height: 150px;
    overflow-y: auto;
}
}
#dataSong, #dataSongssss {
    height: 760px;
}
@media (max-width: 992px) {
    #dataSong {
        height: 820px;
}
}
.puntajes > th {
    background: transparent;
}
.navbar-brand {
    padding: 0px 0px; 
}

#nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+54,7db9e8+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 54%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.imgs {
    width: 200px;
    height: 80px;
}

.showCan {
    height: 750px;
    overflow-y: scroll;
}
#comment {
    min-height: 100px;
    width: 100%;
}
#dyTable {
    overflow-x: auto;
    font-family: Montserrat-Bold;
}
#dyTable th {
    text-align: center;
    margin: 10px;
    font-size:18px;
    background-color: #57b846;
}

#dyTable td {
    background-color:#bae3b5;
    text-align: center;
}

#dyTable tbody tr:hover td {

    background-color: #87ce7e;
    color: white;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}

.hover2 {
    
    color: white;
    background-color:#87ce7e !important;
}


#dyTable  .dynatable-active-page {
    background-color: #57b846;
}
.coincidencia {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,bfe8f9+19,9fd8ef+51,2ab0ed+100 */
    background: rgb(228,245,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 19%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 19%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 19%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

}
.acierto {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+54,7db9e8+100 */
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 54%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 54%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.buttonStyle {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.buttonStyle + a:hover {
    color: white;
}
.buttonStyle:hover {
    cursor: pointer;
    background: #333333;

}
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}
.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}



.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
    
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
  .input100 {
      padding:0px;
      text-align: center;
  }
}

.alexis {
    left: 15px;
    top: 10px;
    z-index: 41;
    overflow: hidden;
}

@media (max-width: 992px) {
  .navbar-toggler {
    background-color:white !important;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

@media (max-width: 576px) {
  .symbol-input100 {
    display:none;
  }
}


.btn-2 {
  background-color: #00cc99;
}
.btn-2 .round {
  background-color: #00b386;
}

.btn-3 {
  background-color: #008080;
}
.btn-3 .round {
  background-color: #006666;
}

.type-1 .hovDiv {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.type-1 .hovDiv span {
  position: relative;
  z-index: 3;
}
.type-1 .hovDiv .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.type-1 .hovDiv .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.type-1 .hovDiv .round span {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 15%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 .hovDiv:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 .hovDiv:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 .hovDiv:hover .round i {
  left: 12%;
}


.circleP {
  width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.circlePer {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    cursor:initial;
}
.perComm {
    width: 64px;
    height: 64px;
    
    cursor:initial;
}

.js:hover {
    border: solid 2px #3299BB;
    
    -webkit-box-shadow: 1px 1px 20px 1px #41C8F5;
    box-shadow: 1px 1px 20px 1px #41C8F5;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.circleP:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.circleP>img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX( -50%);
  top: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  opacity: 0;
  transition: opacity .4s;
}

.circleP>img.tallAndNarrow {
  width: 100%;
  top: 50%;
  transform: translateX(0) translateY( -50%);
  left: 0;
  height: auto;
}

.circleP>img.loaded {
  opacity: 1;
}

.p>img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX( -50%);
  top: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  opacity: 0;
  transition: opacity .4s;
}

.p>img.tallAndNarrow {
  width: 100%;
  top: 50%;
  transform: translateX(0) translateY( -50%);
  left: 0;
  height: auto;
}

.p>img.loaded {
  opacity: 1;
}

.alert-success {
    color: #2b552b;
    background-color: #86c66c;
}

.alert-warning {
    background-color: #ecd046;
    color: #594726;
}

.displayNone {
    display:none;
}


.hovereffect {
    
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect div, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover div, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.hovereffect .overlay div {
    cursor: pointer;
}
.hovereffect .overlay div:hover {
    transform: scale(1.5);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.like {
    cursor:pointer;
}
.like:hover {
    color: #006666;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nlike {
    color: #006666;
    cursor:pointer;
}
.nlike:hover {
    color: black;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}